<style>
  .product__badges {
    border-{{ border }}: 1px solid rgb(var(--color-base-accent-2));
    margin-{{ border }}: 30px;  
  }

  .product__badges-badge {
    display: inline-flex;
    gap: 10px;
    flex-direction: column;
    font-size: 12px;
    height: 100%;
    line-height: 1.4;
    margin-{{ border }}: 45px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 120px;
    text-align: center;
  }

  .product__badges-badge img {
    border: none;
    margin: 0 auto;
  }

  .product__badges-badge span {
    max-width: 100px;
  }

  .product__badges-wrapper {   
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }

  @media screen and (min-width: 750px) {
    .product__badges-badge {
      margin-left: 0;
      margin-right: 0;
    } 

    .product__badges-wrapper {
      align-items: start;
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: space-around;  
    } 
  }
</style>

{%- if badges != blank -%}
  <div class="product__badges">
    <div class="product__badges-wrapper">
      {%- for badge in badges %}
        <div class="product__badges-badge">
          {{ badge | image_url: width: 80 | image_tag }}
          <span>{{ badge | map: "alt" | first }}</span>
        </div>
      {%- endfor %}
    </div>
  </div>
{%- endif -%} 