{%- style -%}
  .rr-select select.quantity__input {
    -moz-appearance: none;
    appearance: none;
  }

  .rr-select .icon-caret {
    max-width: 1.6rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
{%- endstyle -%}

<multipack-input 
  class="quantity rr-select"
  data-base-price="{{ product.price |  money_with_currency }}"
  data-multipack-prices='{{ multipack_prices }}'
>
  <select
    class="quantity__input"
    type="number"
    name="quantity"
    id="Quantity-{{ section.id }}"
    form="{{ product_form_id }}"
    data-min="{{ selling_min_qty }}"
  >
    {%- for q in selling_quantities -%}
      {%- assign qty = q | times: 1 -%}
      {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
        {%- if qty < product.selected_or_first_available_variant.inventory_quantity -%}
          <option 
            data-multipack-index="{{ forloop.index }}"
            value="{{ qty }}" 
            {%- if qty == selling_min_qty -%}
              selected
            {%- endif -%}
          >  
            {{ qty }} packs
          </option>
        {%- endif -%}
      {%- else %}
      <option 
        value="{{ qty }}" 
        {%- if qty == selling_min_qty -%}
          selected
        {%- endif -%}
      >  
        {{ qty }} packs
      </option>
      {%- endif -%}
    {%- endfor -%}
  </select>
  {% render 'icon-caret' %}
</multipack-input>
{%- if template.name == "product" -%}
  <p class="caption">{{ product.metafields.custom.quantity_note }}</p>
{%- endif -%}
