<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .rr-feature__headline,
  .rr-feature__text {
    margin: 0;
    text-align: center;
  }

  .rr-feature__blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .rr-feature__image {
    text-align: center;
  }

  .rr-feature__image img {
    height: auto;
    margin: 0 auto;
    max-height: 70vh;
    max-width: 100% !important;
    width: auto;
  }

  .rr-feature__cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  } 
  
  .rr-feature__blocks .price,
  .rr-feature__blocks .form__label {
    text-align: center;
  }

  .caption {
    text-align: center;
  }

  .product__variant-savings-note {
    font-weight: 900;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }  
    
    .rr-feature__blocks {
      max-width: 680px;
    } 
    
    .rr-feature__cta {
      align-items: end;
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
    }

    .rr-feature__blocks .form__label {
      text-align: left;
    }
  }

  @media screen and (min-width: 1024px) {
    .rr-feature__headline,
    .rr-feature__text {
      text-align: left;
    }

    .rr-feature__blocks {
      padding: 0 25px 0 0;
    }

    .rr-feature__wrapper {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      flex-direction: row-reverse;
    }

    .rr-feature__blocks .price {
      text-align: left;
    }

    .rr-feature__cta {
      justify-content: start;
    }

    .rr-feature__image {
      grid-column: 2;
      grid-row: 1;
    }

    .rr-feature__blocks {
      grid-column: 1;
      grid-row: 1;
    }

    .rr-feature__blocks .product-form__submit {
      width: auto;
    }

    .caption {
      text-align: left;
    }
 
  }

  @media screen and (min-width: 1280px) {
    .rr-feature__blocks {
      padding: 0 5rem;
    }

    .rr-feature__image img {
      height: auto;
      max-width: 720px !important;
    }
  }

  .rr-feature__blocks .product-form__submit {
    background: rgb(var(--color-base-accent-1));
    color: #fff;
  }

  .rr-feature__blocks .product-form__submit:after {
    box-shadow: none;
  }

  .rr-feature__blocks .product-form__submit.loading {
    color: rgb(var(--color-base-accent-1));
  }

  .loading-overlay__spinner {
    border-color: rgb(var(--color-base-accent-1));
  }
</style>

{%- if section.settings.variant_button_picker %}
  <style>
    .section-{{ section.id }}-padding variant-radios {
      display: block;
    }

    .section-{{ section.id }}-padding .product-form__input {
      flex: 0 0 100%;
      padding: 0;
      margin: 0 0 1.2rem 0;
      max-width: 44rem;
      min-width: fit-content;
      border: none;
      display: grid;
      grid-template-columns: 1fr;
    }
    .section-{{ section.id }}-padding .product-form__input legend {
      display: none;
    }

    .section-{{ section.id }}-padding .product-form__input input[type='radio']:checked + label {
      background-color: rgb(var(--color-foreground));
      color: rgb(var(--color-background));
    }
  
    .section-{{ section.id }}-padding .product-form__input input[type='radio'] + label {
      border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
      background-color: rgb(var(--color-background));
      color: rgba(var(--color-foreground));
      border-radius: var(--variant-pills-radius);
      color: rgb(var(--color-foreground));
      display: inline-block;
      margin: 0.7rem 0.5rem 0.2rem 0;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      line-height: 1;
      text-align: center;
      transition: border var(--duration-short) ease;
      cursor: pointer;
      position: relative;
    }
  
    .section-{{ section.id }}-padding .product-form__input input[type='radio'] {
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      position: absolute;
      height: 1px;
      width: 1px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding .rr-feature__cta {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
      }

      .section-{{ section.id }}-padding .product-form__input {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (min-width: 1024px) {
      .section-{{ section.id }}-padding .rr-feature__cta {
        align-items: start;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
    }
  </style>

{%- endif %}

{% liquid
  assign product = section.settings.product
  assign image_loading = 'lazy'
  assign multipack = product.metafields.custom.only_multipack
  assign multipack_prices = nil
  assign multipack_quantities = nil  
        
  if section.settings.rr_lazy_image == false
    assign image_loading = 'eager'
  endif

  if multipack
    assign multipack_quantities = product.metafields.custom.multipack_order.value | map: 'quantity' 
    assign multipack_min_qty =  multipack_quantities | first | times: 1
    assign multipack_prices = product.metafields.custom.multipack_order.value | json     
  endif  
%}  

<div class="rr-feature color-{{ section.settings.color_scheme }}  section-{{ section.id }}-padding isolate">
  <div class="rr-feature__wrapper page-width content-container content-container--full-width">
    <div class="rr-feature__image  {{ section.settings.content_alignment }}">
      {%- if section.settings.image != blank -%}
        {{ section.settings.image | image_url: width: 800 | image_tag: loading: image_loading }}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="rr-feature__blocks rr-capsule-details__block-wrapper page-width {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
                {% render block %}
            {%- when 'headline' -%}
              <h2 class="rr-feature__headline {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.headline | escape }}
              </h2>
            {%- when 'text' -%}
              <p
                class="rr-feature__text {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </p>
            {%- when 'buy_buttons' -%}
              {%- liquid
                assign product = section.settings.product
                assign product_form_id = 'product-form-' | append: section.id
                assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id
              -%}
              <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                {%- render 'price',
                  product: product,
                  use_variant: true,
                  show_badges: true,
                  price_class: 'price--small',
                  selling_min_qty: multipack_min_qty,
                -%}  

                <div class="product__tax caption rte">
                  {% comment %}
                    This has been disabled as the shipping policy is now featured above
                    {%- if product.metafields.custom.shipping_policy -%}
                      {{ product.metafields.custom.shipping_policy }}
                      <br>
                    {%- elsif shop.shipping_policy.body != blank -%}
                      {%- if product.selected_or_first_available_variant.option1 != '3' -%}
                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        Shipping calculated at checkout.
                      {%- endif -%}                    
                      <br>
                    {%- endif -%}
                  {% endcomment %}
                  {%- if product.metafields.custom.rrp_note -%}
                      {{ product.metafields.custom.rrp_note }}
                      <br>
                  {%- endif -%} 
                  {%- if product.selected_or_first_available_variant.metafields.custom.savings_note -%}
                    <span class="product__variant-savings-note">
                      {{ product.selected_or_first_available_variant.metafields.custom.savings_note }}
                    </span>
                  {%- endif -%}
                </div> 
              </div>
              
              <div class="rr-feature__cta">   
                {%- if multipack -%}                 
                  {%- render 'rr-multipack-qty-selector',
                    product: product,
                    product_form_id: product_form_id,
                    section: section, 
                    selling_min_qty: multipack_min_qty,
                    selling_quantities: multipack_quantities,
                    multipack_prices: multipack_prices
                  -%}

                {%- else -%}
                  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id, variant_button_picker: section.settings.variant_button_picker %}   

                  {%- unless settings.hide_qty_input -%}
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                        </span>
                        {% render 'icon-minus' %}
                      </button>
                      <input
                        class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        data-cart-quantity="{{ cart_qty }}"
                        data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                          data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                        {% endif %}
                        step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                        value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        form="{{ product_form_id }}"
                      />
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                        </span>
                        {% render 'icon-plus' %}
                      </button>
                    </quantity-input>
                  {%- endunless -%}
                {%- endif -%}

                {%- render 'buy-buttons',
                  block: block,
                  buy_now: true,
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id
                -%} 
              </div>            
            {%- endcase -%}
          {%- endfor -%}
          {% render "product-badges", badges: section.settings.product.metafields.custom.badges.value, border: "top" %}
          
      </div>
    </div>
  </div>
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% schema %}
{
  "name": "Rebound Product Feature",
  "tag": "section",
  "class": "section section-featured-product",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "checkbox",
      "id": "rr_lazy_image",
      "default": true,
      "label": "Enable lazy loading of images"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.header.content",
      "info": "t:sections.featured-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-product.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-product.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.featured-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured-product.settings.media_position.label",
      "info": "t:sections.featured-product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label",
      "info": "t:sections.main-product.settings.image_zoom.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Variant Selector"
    },
    {
      "type": "checkbox",
      "id": "variant_button_picker",
      "default": false,
      "label": "Use variant button picker"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.featured-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.featured-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "price",
              "label": "Price"
            },
            {
              "value": "subtitle",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.featured-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "headline",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "headline",
          "default": "Headline",
          "label": "Headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.featured-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "add_to_cart_text",
          "label": "Add to cart button text",
          "default": "Add to cart"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RR Feature",
      "blocks": [
        {
          "type": "headline"
        },
        {
          "type": "text"
        },
        {
          "type": "video"
        },
        {
          "type": "buy_buttons"
        }
      ]
    }
  ]
}
{% endschema %}
